#DaquanOrderLocation {
    background: #F2F2F2;
}

.daquan-bc {
    background: #fff;
}

.orderLocation-title {
    min-width: 620px;
    height: 88px;
    line-height: 88px;
    padding-left: 30px;
    padding-right: 40px;
    border-bottom: 1px #C2C6CE;
    box-shadow: 0 2px 1px #cfd2d8;
    -moz-box-shadow: 0 2px 1px #cfd2d8;
}

.daquan-title {
    // width: 269px;
    height: 48px;
    width: auto !important;
}

.location-title {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    height: 88px;
}

.daquan-name {
    font-size: 32px;
    color: #0a4595;
    font-weight: 600;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    height: 88px;
}

.welcome-title {
    font-size: 16px;
    color: #000;
    float: right;
}

#location-bottom {
    width: 100%;
    height: 160px;
}

#location-bottom .bottom-left {
    padding: 20px;
}

#location-bottom .bottom-right {
    padding: 30px 25px;
    text-align: right;
}

.link-bottom {
    height: 80px;
    width: 255px;
    float: right;
}

.sino-icon {
    margin-bottom: 6px;
}

.icon-yikaitong {
    color: #3AB9E9;
    font-size: 16px;
}

.icon-sinowulian {
    font-size: 27px;
    color: #999999;
    margin-bottom: 6px;
}

.icon-sinozhuye {
    color: #C0C4CC;
    font-size: 18px;
}

.icon-email {
    color: #C0C4CC;
    font-size: 14px;
}

.icon-sino,
.icon-csp,
.icon-ccp {
    color: #DCDFE6;
    font-size: 50px;
}

.phone-and-address,
.mark-sino {
    margin-bottom: 16px;
}

.sino-home,
.write-email {
    margin-left: 5px;
}

.daquan-font {
    font-size: 14px;
    line-height: 16px;
    color: #666;
}

.sino-home-a {
    margin-right: 35px;
}

.icon-sino-a,
.icon-csp-a,
.icon-ccp-a {
    margin-left: 35px;
    float: left;
    position: relative;
}

.sino-home-a:hover .daquan-font,
.sino-home-a:hover .icon-sinozhuye,
.write-email-a:hover .icon-email,
.write-email-a:hover .daquan-font,
.icon-sino:hover,
.icon-csp:hover,
.icon-ccp:hover {
    color: #3AB9E9;
}

.sino-erweima,
.csp-erweima,
.ccp-erweima {
    display: none;
}

.icon-sino-a:hover .sino-erweima,
.icon-csp-a:hover .csp-erweima,
.icon-ccp-a:hover .ccp-erweima {
    z-index: 5;
    display: block;
}

.sino-erweima img,
.csp-erweima img,
.ccp-erweima img {
    position: absolute;
    left: -33px;
    top: -105px;
}

#orderStatus-list {
    height: 870px;
    overflow-y: auto;
}

#orderStatus-list .status-list {
    margin: 0;
    padding: 0;
    margin-left: 82px;
    margin-top: 0px;
    padding-left: 10px;
    list-style: none;
}

#orderStatus-list .status-list li {
    height: auto;
    min-height: 100px;
    border-left: 1px solid #DCDFE6;
    position: relative;
}

#daquanOrderTimeline .orderTimeline-title {
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-left: 32px;
}

#daquanOrderTimeline .orderTimeline-content {
    font-size: 12px;
    color: #666;
    line-height: 25px;
    margin-left: 32px;
}

#daquanOrderTimeline .orderTimeline-date {
    font-size: 12px;
    color: #999;
    position: absolute;
    left: -92px;
    top: 10px;
    width: 85px;
    line-height: 18px;
}

// .orderTimeline-icon{
//     position: absolute;
//     left: -16px;
//     top: 2px;
// }
.icon-songda {
    // color: #1B9FD0;
    font-size: 30px;
}

.icon-zaitudingwei,
.icon-fahuo {
    color: #DCDFE6;
    font-size: 30px;
}

.icon-songda,
.icon-zaitudingwei,
.icon-fahuo {
    position: absolute;
    left: -16px;
    background: #fff;
    height: 50px;
}

#orderStatus-list .status-list .firstStatus .icon-songda,
#orderStatus-list .status-list .firstStatus .icon-zaitudingwei,
#orderStatus-list .status-list .firstStatus .icon-fahuo,
#orderStatus-list .status-list .onlyStatus .icon-fahuo {
    color: #1B9FD0;
}

#orderStatus-list .status-list .firstStatus::before {
    content: " ";
    background-color: #fff;
    display: block;
    position: absolute;
    top: -5px;
    left: -1px;
    width: 1px;
    height: 30px;
}

#orderStatus-list .status-list .firstStatus .orderTimeline-icon,
#orderStatus-list .status-list .firstStatus .orderTimeline-title,
#orderStatus-list .status-list .firstStatus .orderTimeline-content,
#orderStatus-list .status-list .firstStatus .orderTimeline-date,
#orderStatus-list .status-list .onlyStatus .orderTimeline-icon,
#orderStatus-list .status-list .onlyStatus .orderTimeline-title,
#orderStatus-list .status-list .onlyStatus .orderTimeline-content,
#orderStatus-list .status-list .onlyStatus .orderTimeline-date {
    color: #1B9FD0;
}

#orderStatus-list .status-list .onlyStatus {
    position: relative;
    border: none;
}

#orderStatus-list .status-list .lastStatus {
    position: relative;
}

#orderStatus-list .status-list .lastStatus::after {
    content: " ";
    background: #fff;
    display: block;
    position: absolute;
    top: 43px;
    left: -1px;
    width: 1px;
    height: 59px;
}

.alert-content {
    text-align: center;
}

.alert-content .modal-footer {
    text-align: center;
}

.alert-content .modal-footer .btn-primary {
    background-color: #3AB9E9;
    border-color: #3AB9E9;
}

.angle {
    display: inline-block;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -60px;
    border: 14px solid;
    left: 17px;
    bottom: -25px;
    opacity: 0.8;
    border-color: #fff transparent transparent transparent;
}

#noValide {
    text-align: center;
    width: 100%;
    min-height: 670px;
    padding-top: 240px;
}

#noValide img {
    width: 120px;
}

#location-content-top {
    width: 100%;
    height: 42px; // position: relative;
}

#location-tabs {
    // width: 94%;
    // position: absolute;
    height: 42px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

#tabs {
    height: 42px;
}

#tabs-btn {
    height: 41px;
    padding-right: 0px;
    text-align: right;
}

#tabs-btn button {
    width: 40px;
    height: 41px;
    border: none;
    background-color: #DCDFE6;
    color: #333;
    border: 1px solid #C0C4CC;
}

#location-tabs #tabs li {
    font-size: 16px;
    color: #000;
    background-color: #DCDFE6;
    border: 1px solid #C0C4CC;
    width: 100px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-right: 3px;
    list-style: none;
    display: inline-block;
}

#location-tabs #tabs li:hover {
    background-color: #3AB9E9;
    cursor: pointer;
}

#location-tabs #tabs .currentab {
    background-color: #fff;
    border: 1px solid #fff;
}

// #tabs li:first.currentab{
//     background-color: #fff;
//     border: 1px solid #fff;
// }
/**需求分析**/

.dataAnalysiscontent {
    margin-top: 10px;
    margin-bottom: 28px;
}

#dataAnalysisRequirement .panel {
    border: none;
}

#DataAnalysisControlle .nav-tabs {
    border: none;
    text-align: center;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#dataAnalysisRequirement .tab-content {
    margin-top: 10px;
    border-top: none;
}

#DataAnalysisControlle .nav-tabs>li {
    // margin-left: 6%;
    border-radius: 4px;
    width: 33%;
    background-color: #DCDFE6;
}

#DataAnalysisControlle .nav-tabs>li a {
    border: none !important;
}

#dataAnalysisRequirement .col-lg-3 {
    padding-left: 0;
    padding-right: 0;
}

#DataAnalysisControlle .nav-tabs>li>a {
    border: none;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
}

#DataAnalysisControlle .nav-tabs>li.active>a,
#DataAnalysisControlle .nav-tabs>li:hover>a {
    border: none;
}

.dc {
    width: 172px;
    height: 56px;
    margin: auto;
}

.bc {
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}

.tc {
    font-size: 18px;
    margin-bottom: 1px;
}

.fc {
    line-height: 2rem;
    margin-left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0;
    font-weight: 700;
}

#DataAnalysisControlle .nav-tabs>li:hover,
#DataAnalysisControlle .nav-tabs>li:hover>a {
    background-color: rgba(3, 138, 214, 100);
    color: #fff;
}

#DataAnalysisControlle .nav-tabs>li:hover .tc {
    color: #fff;
}

#DataAnalysisControlle .nav-tabs>li:hover .fc {
    color: #fff;
}

#DataAnalysisControlle .nav-tabs>li.active,
#DataAnalysisControlle .nav-tabs>li.active>a,
#DataAnalysisControlle .nav-tabs>li:hover>a,
#DataAnalysisControlle .nav-tabs>li:hover>a:hover,
#DataAnalysisControlle .nav-tabs>li.active>a:hover {
    background-color: #3AB9E9 !important;
    color: #fff;
    border: none;
}

#DataAnalysisControlle .nav-tabs>li:hover,
#DataAnalysisControlle .nav-tabs>li:hover>a {
    background-color: #3AB9E9 !important;
}

#DataAnalysisControlle.nav-tabs>li.active .tc {
    color: #fff;
}

#DataAnalysisControlle .nav-tabs>li.active a .fc {
    color: #fff;
}

// #dataAnalysisRequirement .nav>li>a{
//     padding: 28px 25px;
// }
.tab_one {
    height: 2rem;
    width: 2rem;
    float: left;
    background: url('../../img/require3.png') no-repeat center;
    background-size: contain;
}

#DataAnalysisControlle .nav-tabs>li:hover a .tab_one,
#DataAnalysisControlle .nav-tabs>li.active a .tab_one {
    background-image: url('../../img/require4.png');
    background-size: contain;
}

.tab_two {
    height: 2rem;
    width: 2rem;
    float: left;
    background: url('../../img/cost3.png') no-repeat center;
    background-size: contain;
}

#DataAnalysisControlle .nav-tabs>li:hover .tab_two,
#DataAnalysisControlle .nav-tabs>li.active .tab_two {
    background-image: url('../../img/cost4.png');
    background-size: contain;
}

.tab_three {
    height: 2rem;
    width: 2rem;
    float: left;
    background: url('../../img/quality3.png') no-repeat center;
    background-size: contain;
}

#DataAnalysisControlle .nav-tabs>li:hover .tab_three,
#DataAnalysisControlle .nav-tabs>li.active .tab_three {
    background-image: url('../../img/quality4.png');
    background-size: contain;
}

#monthWavePattern,
#lineOrderChart,
#startProvinceChart,
#endProvinceChart,
#commonCarChart {
    border: solid 1px #dee5e7;
    margin-right: 14px;
    padding-left: 20px;
    padding-top: 20px;
}

#requirement {
    padding: 0 30px;
}

#startProvinceChart,
#endProvinceChart,
#commonCarChart {
    padding-right: 2%;
}

// .panel {
//     background: none;
//     border: none;
// }
@media (max-width: 942px) {
    .bc {
        display: none;
    }
    .dc {
        width: 74%;
    }
    .tab_one {
        width: auto;
        float: none;
        margin: auto;
    }
    .tab_two {
        width: auto;
        float: none;
        margin: auto;
    }
    .tab_three {
        width: auto;
        float: none;
        margin: auto;
    }
}

/**成本分析**/

#dataAnalysisCost #logisticsCostRangess {
    height: 350px;
    margin: 0px auto;
    padding: 20px 10px;
}

#dataAnalysisCost #lineCost {
    height: 350px;
    margin: 0px -30px 0px auto;
    padding: 10px;
}

#dataAnalysisCost #costType {
    height: 350px;
    margin: 0px -30px 0px auto;
    padding: 10px;
}

#dataAnalysisCost #totalCostRange {
    height: 350px;
    margin: 0px auto;
    padding: 10px 10px 20px 10px;
}

#dataAnalysisCost #lineTonnageRange {
    height: 350px;
    margin: 15px auto 30px auto;
    padding: 10px;
}

/**质量分析**/

#qualitywave,
#responseAging {
    margin: 20px 20px 20px 20px;
    height: 450px;
    border: solid 1px #dee5e7;
}

#responseAging {
    margin-bottom: 75px;
}

@media screen and (max-width:1200px) {
    //    #requirement .col-lg-4, #requirement .col-lg-8{
    //        width: 100%;
    //    }
    #monthWavePattern,
    #lineOrderChart,
    #startProvinceChart,
    #endProvinceChart,
    #commonCarChart {
        min-width: 514px;
    }
}

#dataAnalysisRequirement .tab-content>.tab-pane,
#dataAnalysisRequirement .pill-content>.pill-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}

#dataAnalysisRequirement .tab-content>.active,
#dataAnalysisRequirement .pill-content>.active {
    height: auto;
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.tab-content>.active,
.pill-content>.active {
    height: auto;
}