.app{
    min-height: 100%;
}
.blockInfo{
    padding-left: 20px;
}
.file_hidden{
    // display: none
    display: inline-block;
    width: 1px;
    height: 1px;
    overflow:auto
}

.span_after_input{
    margin-left: 20px;
}
@media(max-width:992px){
    .span_in_input{
        display: inline-block;
        position: relative;
        left: -30px;
    }
    #orderDeliverDetail_originCountyStr,#orderDeliverDetail_destinationCountyStr,#orderDeliverDetail_shipAreaStr,#orderDeliverDetail_deliverAreaStr{
        width: 120%;
    }
    

}
