<div id="container">
    <img class="bg" src="../../../img/cspBg.jpg" alt="">
    <div id="circle">
            <div id="circle1" @click="jump(1)">
                <div> <img src="../../../img/circle1.png" alt=""></div>
                    <p><span>在途货物<br>全程追踪</span></p>
                </div>
                <div id="circle2"  @click="jump(2)">
                    <div> <img src="../../../img/circle2.png" alt=""></div>
                    <p><span>物流数据<br>尽在掌握</span></p>
                 </div>
                <div id="circle3"  @click="jump(3)">
                   <div> <img src="../../../img/circle3.png" alt=""></div>
                    <p><span>收发消息<br>实时接收</span></p>
                 </div>
    </div>
   
    <div id="point1" onclick="full()">
        <img src="../../../img/point1.png" alt="">
    </div>
    <div id="point2" onclick="full()">
        <img src="../../../img/point2.png" alt="">
    </div>
    <div id="point3" onclick="full()">
        <img src="../../../img/point2.png" alt="">
    </div>
</div>