<div id="aiContainer">
    <img class="bg" src="../../../img/aiBg.jpg" alt="">
    <div id="circle0">
            <div id="circle1" @click="openwechat()">
                <div> <img src="../../../img/circle1.png" alt=""></div>
                    <p><span>精 准<br>识 别</span></p>
                </div>
                <div id="circle2"  @click="openwechat()">
                    <div> <img src="../../../img/circle2.png" alt=""></div>
                    <p><span>智 能<br>联 想</span></p>
                 </div>
                <div id="circle3" @click="openwechat()">
                   <div> <img src="../../../img/circle3.png" alt=""></div>
                    <p><span>快 速<br>回 答</span></p>
                 </div>
    </div>
</div>