#inquiryEdit_popupProvince,#inquiryEdit_popupCity,#inquiryEdit_receiveProvince,#inquiryEdit_receiveCity{
    width: 100%
}
.p-r-0{
    padding-right: 0px;
}

#inquiryEdit_popupCounty,#inquiryEdit_receiveCounty{
    width: 128%;
}
#inquiryEdit .progress:after{
    border-top: none;
}

@media(max-width:992px){
    #inquiryEdit_popupCounty,#inquiryEdit_receiveCounty{
        width: 140%;
    }
 
}