#showHome{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background: url(../../../img/showroom_bj.png) no-repeat;
    background-size: 100% 100%;
}
.show_title{
    text-align: center;
    padding-top: 44px;
}
.show_titleI{
    // width: 310px;
    // height: 300px;
    width: 66%;
}
.show_content{
    // width: 310px;
    width: 66%;
    height: 55px;
    border-radius: 4px
}
.show_onroad{
    background: url(../../../img/onroad_btn.png) no-repeat;
    background-size: 100%;
    margin: 23px auto 0px;
}
.show_data{
    background: url(../../../img/data_btn.png) no-repeat;
    background-size: 100%;
    margin: 30px auto 0px;
}
.show_message{
    background: url(../../../img/message_btn.png) no-repeat;
    background-size: 100%;
    margin: 30px auto 0px;
}