<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">需求分析</h1>
</div>
<div id="dataAnalysisRequirement" class="dataAnalysiscontent">
    <div id="dataAnalysis_tabContent" class="tab-content">
        <!--需求分析-->
        <div id="requirement" class="wrapper-sm tab-pane fade in active"> 
            <div class="form-horizontal panel-body" style="height:100%;margin-top:5px;">
                <div id="monthWavePattern" class="form-group col-lg-8" style="height:400px">
                </div>
                <div id="lineOrderChart" class="form-group col-lg-4" style="height:400px">
                </div>
                <div class="line line-xs pull-in"></div>
                <div id="startProvinceChart" class="form-group col-lg-4" style="height:370px">
                </div>
                <div id="endProvinceChart" class="form-group col-lg-4" style="height:370px">
                </div>
                <div id="commonCarChart" class="form-group col-lg-4" style="height:370px">
                </div>
            </div>
        </div>
    </div>
</div>