<div id="DaquanOrderLocation">
    <div class="orderLocation-title daquan-bc">
        <img src="../../img/default-avatar.png" class="daquan-title" v-if="!userLogo">
        <img :src="userLogo" class="daquan-title" v-if="userLogo">
        <span class="daquan-name">{{userName}}</span>
        <span class="location-title">财务对账</span>
        <span class="welcome-title">欢迎来到财务对账页面！</span>
    </div>
    <div id="noValide" v-show="!isValide">
        <div>
            <img src="../../img/noValide.png">
            <p>未取得授权不能查看哦~</p>
        </div>
    </div>
<div id="SumaccountControlleDetail" v-show="isValide">

    <div class="wrapper-md">
        <div class="wrapper-md" style="background:#fff">
            <h1 class="m-n font-thin h4">查看费用详情</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <validator name="validation">
                    <form name="SumaccountForm" id="SumaccountForm" class="form-validation form-horizontal novalidate">
                        <fieldset>
                            <div class="form-group">
                                <div class="panel-heading font-bold m-t-n">
                                    线路货物信息<span class="text-danger">*</span>
                                </div>
                                <div class="wrapper-sm font-bold">
                                    总线路货物信息<span class="text-danger">*</span>
                                </div>
                                <div class="wrapper-sm m-t-n">
                                    <div class="table-responsive table-cel-k">
                                        <v-client-table class="editTables" :data="totalData1" :columns="columns" :options="options" style="overflow:hidden; min-width:1000px;"></v-client-table>
                                    </div>
                                </div>
                                <div class="wrapper-sm font-bold">
                                    子线路货物信息<span class="text-danger">*</span>
                                </div>
                                <div class="wrapper-sm m-t-n">
                                    <div class="table-responsive table-cel-k">
                                        <v-client-table class="editTables" :data="orderChildData" :columns="columns2" :options="options2" style="overflow:hidden; min-width:1000px;"></v-client-table>
                                    </div>
                                </div>
                                <div class="line pull-in"></div>
                            </div>

                            <div class="form-group">
                                <div class="panel-heading font-bold ">
                                    线路费用信息<span class="text-danger">*</span>
                                </div>
                                <div class="wrapper-sm font-bold">
                                    线路费用列表<span class="text-danger">*</span>
                                </div>
                                <div class="wrapper-sm m-t-n">
                                    <div class="table-responsive table-cel-k">
                                        <v-client-table class="editTables" :data="orderChildData2" :columns="columns3" :options="options3" style="overflow:hidden; min-width:1000px;"></v-client-table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" v-show="receiptshow">
                                <div class="panel-heading font-bold m-b-sm">回单信息</div>
                                <div v-for="(index, item) in receiptPicList">
                                    <label class="pull-left m-l m-r">回单{{$index + 1}}</label>
                                    <table class="table bg-white-only b-a">
                                        <tbody>
                                            <tr v-for="itemC in item" class="t-1">
                                                <td>
                                                    <img :id="itemC.id" name="sumaccountDetail_itemCId" data-toggle="modal" data-target="#orderReceipt" :src="itemC.path" @click="bigPic(itemC)" class="accountDetail_tModol" style="max-width:298px;">
                                                </td>
                                                <td style="vertical-align:middle">
                                                    <button type="button" class="btn btn-primary btn-xs" id="sumaccountDetail_button" name="sumaccountDetail_button" @click="downLoadReceiptPic(itemC.id)">
                                                        <span class="fa fa-cloud-download"></span> 下载
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="panel-heading font-bold m-b-sm">电子回单信息</div>
                                <div class="col-lg-11" v-if="isShowContract">
                                    <p class="pull-left m-l m-r">电子回单编号：<span>{{contractNumber}}</span></p>
                                    <div style="float:left;">
                                        <a name="sumaccountDetail_itemId" data-toggle="modal" data-target="#orderElectronic"  class="accountDetail_tModol" style="color: #0000FF;text-decoration: underline;">点击查看详情</a>
                                    </div>
                                    <div style="float: right;">
                                        <button type="button" class="btn btn-primary btn-xs" id="sumaccountDetail_button" name="sumaccountDetail_button" @click="downloadContract()">
                                            <span class="fa fa-cloud-download"></span> 下载
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-11" v-if="!isShowContract">
                                    <p class="pull-left m-l m-r">暂无电子回单</p>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label class=" pull-left control-label"></label>
                            <div class="col-lg-5">
                                <a id="order_shipBackl" type="button" href='javascript:;' @click="goBack()" class="pull-right-xs btn btn-sm btn-success btn-addon "><i class="fa fa-reply "></i>返回</a>
                            </div>
                        </div>
                    </form>
                </validator>
                <!-- 回单照片模态框 -->
                <div id="orderReceipt" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                    <div class="modalClose" data-dismiss="modal" aria-label="Close">
                        <img id="orderManageDetail_receiptPic" class="receiptPic" :src="picPath">
                    </div>
                </div>
                <!-- 电子回单模态框 -->
                <div id="orderElectronic" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="text-align:center;">
                                <h4 class="modal-title" id="myModalLabel">电子回单合同</h4>
                            </div>
                            <div class="modal-body" style="height: 780px;overflow-y: auto;">
                                <div v-for="(index,item) in contractImgList">
                                    <img id="index" class="receiptPic" :src="item">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="location-bottom" class="daquan-bc">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 bottom-left">
            <div class="sino-icon"><i class="iconfont icon-sinowulian"></i></div>
            <div class="phone-and-address daquan-font">热线：051186990000 | 官网：www.vip56.cn |
                地址：江苏省镇江市京口区丁卯经十二路智慧大道470号镇江科技园A座研发楼</div>
            <div class="mark-sino daquan-font">All Rights Reserved Powered By SINO logistics networking technology</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 bottom-right">
            <div class="link-top">
                <a class="sino-home-a" href="https://www.vip56.cn" target="_Blank"><i class="iconfont icon-sinozhuye"></i><span
                        class="sino-home daquan-font">斯诺物联</span></a>
                <a class="write-email-a" href="Mailto:hr@vip56.cn"><i class="iconfont icon-email"></i><span class="write-email daquan-font">E-mail</span></a>
            </div>
            <div class="link-bottom">
                <a class="icon-sino-a">
                    <div class="sino-erweima">
                        <img src="../../img/sino-er.png" style="width:115px;">
                    </div>
                    <i class="iconfont icon-sino"></i>
                </a>
                <a class="icon-csp-a">
                    <div class="csp-erweima">
                        <img src="../../img/csp-er.png" style="width:115px;">
                    </div>
                    <i class="iconfont icon-csp"></i>
                </a>
                <a class="icon-ccp-a">
                    <div class="ccp-erweima">
                        <img src="../../img/ccp-er.png" style="width:115px;">
                    </div>
                    <i class="iconfont icon-ccp"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>