<div id="showSenderMessage">
    <div class="senderMessage_title">
        <span>货准达</span>
    </div>
    <div class="senderMessage_content">
        <a href="#!/cspDeliveryDetail?userState=1">
            <div class="senderMessage_deliveryDetail">
                <div class="content_title">
                    <p class="cp1">货源信息通知</p>
                    <span class="cp2">7月12日</span>
                </div>
                <div class="mainContent">
                    <p class="cp3">发货通知</p>
                    <p>货物名称： <span>变速箱</span></p>
                    <p>重量/体积： <span>200.00 台</span></p>
                    <p>发货地/收货地： <span>江苏镇江市区智慧大道科技研发楼A座/江苏扬州宝应县亚细亚广场123号</span></p>
                    <p>发布日期： <span>2018-07-12</span></p>
                    <p>发布时间： <span>16:00:00</span></p>
                    <p class="cp3">请进行发货确认</p>
                </div>
                <div class="goDetail">详情<span class="senderMessage_right"></span></div>
            </div>
        </a>
        <a href="#!/cspAcceptDetail?userState=1">
            <div class="senderMessage_acceptDetail">
                <div class="content_title">
                    <p class="cp1">货源信息通知</p>
                    <span class="cp2">7月12日</span>
                </div>
                <div class="mainContent">
                    <p class="cp3">收货通知</p>
                    <p>货物名称： <span>变速箱</span></p>
                    <p>重量/体积： <span>200.00 台</span></p>
                    <p>发货地/收货地： <span>江苏镇江市区智慧大道科技研发楼A座/江苏扬州宝应县亚细亚广场123号</span></p>
                    <p>发布日期： <span>2018-07-12</span></p>
                    <p>发布时间： <span>16:00:00</span></p>
                </div>
                <div class="goDetail">详情<span class="senderMessage_right"></span></div>
            </div>
        </a>
    </div>
    <show-Home-Button></show-Home-Button>
</div>