#WxDeliveryDetail{
    background: #EFEFF4;
    padding-top: 25%;
    height:-webkit-fill-available;
}

.weui-form-preview__hd:after{
    border-bottom:none;
}

.weui-form-preview__label{
    margin-right: 3.4em;
}

.weui-form-preview__hd .weui-form-preview__value{
    font-size: 1.4em;
}

.weui-form-preview__bd{
    padding-bottom: 40px;
}

.weui-form-preview__ft:after{
    border-top:none;
}