<div id="WxDeliveryDetail">
    <!-- 发货方发货通知 -->
    <div class="weui-form-preview" v-show="status=='发货人'">
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">收货单位</label>
                <span class="weui-form-preview__value">{{acceptCompany}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">收货地址</label>
                <span class="weui-form-preview__value">{{acceptAddress}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">车牌号</label>
                <span class="weui-form-preview__value">{{carCode}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">驾驶员姓名</label>
                <span class="weui-form-preview__value">{{driverName}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">货物名称</label>
                <span class="weui-form-preview__value">{{goodsName}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">货物数量</label>
                <span class="weui-form-preview__value">{{goodsNum}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">备注信息</label>
                <span class="weui-form-preview__value">{{remarks}}</span>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <button type="submit" class="btn btn-warning btn-lg btn-block" :disabled="isConfirm" @click="confirmDeliver()">{{buttonMessage}}</button>
        </div>
    </div>

    <!-- 收货方发货通知 -->
    <div class="weui-form-preview" v-show="status=='收货人'">
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">发货时间</label>
            <em class="weui-form-preview__value">{{startTime}}</em>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">发货单位</label>
                <span class="weui-form-preview__value">{{deliverCompany}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">发货地址</label>
                <span class="weui-form-preview__value">{{deliverAddress}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">发货联系人姓名</label>
                <span class="weui-form-preview__value">{{deliverUserName}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">发货联系人电话</label>
                <span class="weui-form-preview__value">{{deliverPhone}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">车牌号</label>
                <span class="weui-form-preview__value">{{carCode}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">驾驶员姓名</label>
                <span class="weui-form-preview__value">{{driverName}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">货物名称</label>
                <span class="weui-form-preview__value">{{goodsName}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">货物数量</label>
                <span class="weui-form-preview__value">{{goodsNum}}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">备注信息</label>
                <span class="weui-form-preview__value">{{remarks}}</span>
            </div>
        </div>
    </div>
</div>