<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">成本分析</h1>
</div>
<div id="dataAnalysisCost" class="form-horizontal panel-body" style="width:100%;">
    <div class="form-group col-lg-8" id="logisticsCostRangess" style="border: 1px solid #dee5e7;"></div>
    <div class="form-group col-lg-4">
        <div id="costType" style="border: 1px solid #dee5e7;"></div>
    </div>
    <div class="form-group col-lg-8"  id="totalCostRange"  style="border: 1px solid #dee5e7;"></div>
    <div class="form-group col-lg-4">
        <div id="lineCost" style="border: 1px solid #dee5e7;"></div>
    </div>
    <!-- <div class="form-group col-lg-12" id="lineTonnageRange" style="border: 1px solid #dee5e7;"></div> -->
</div>