<div id="showMessage">
    <div class="message_title">
        <img class="message_titleF" src="./img/showmessage_title.png">
        <img class="message_titleI" src="./img/showmessage_round.png">
    </div>
    <div class="showMessage_btn">
        <a href="#!/cspSenderMessage">
            <div class="show_content show_send"></div>
        </a>
        <a href="#!/cspConsignorMessage">
            <div class="show_content show_receive"></div>
        </a>
    </div>
    <show-Home-Button></show-Home-Button>
</div>