.Wxfoot {
    background: #145fa6;
    line-height: 1.4em !important;
    font-size: 0.8em;
    color: #71a9de;
    padding: 4% 3%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 99;
    width: 100%;
}