<div class="bg-light lter b-b wrapper-md">
    <div id="oTitle" class="row statistics">
        <div class="col-xs-4 col-md-4 col-lg-3">
            <div class="orderImg">
                <img class="round" src="./img/pic2.png">
            </div>
            <h3 class="orderTitle">订单发布管理</h3>
        </div>
        <div id="survey" class="col-xs-4 col-md-4 col-lg-5">
            <div class="col-xs-4 col-md-4 col-lg-3 fsize">
                <span class="surveyName">未处理</span>
                <P class="orderNums">{{untreated}}</P>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-3 fsize">
                <span class="surveyName">已处理</span>
                <P class="orderNums">{{processed}}</P>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-3 fsize">
                <span class="surveyName">订单终结</span>
                <P class="orderNums">{{end}}</P>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-3" style="text-align: right;">
            <button id="releaseManage_orderAdd" @click="LinkToOrderReleaseAdd()" class="pull-right-xs btn btn-sm btn-primary btn-addon">
                <i class="glyphicon glyphicon-list-alt"></i>新增订单
            </button>
            <button id="releaseManage_import" name="releaseManage_releaseAdd" @click="batchImport()" class="pull-right-xs btn btn-sm btn-success btn-addon">
                <i class="glyphicon glyphicon-import"></i>批量导入
            </button>
        </div>
    </div>
</div>
<div class="wrapper-md" id="newOrderReleaseManage">
    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline" style="text-align: right; padding-right: 4%;">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="orderIdinput" placeholder="输入订单编号" v-model="query.orderId">
                        <div type="button" class="input-group-addon" @click="queryOrderRelease()" style="cursor: pointer;">
                            <i class="glyphicon glyphicon-search" v-show="!seeks"></i>
                            <i v-show="seeks">
                                <b class="fa fa-spinner no-bordr"  v-bind:class="{'fa-spin':seeks}"></b>
                            </i>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-left: 10px;">
                    <div class="select-group">
                        <div id="selectButton" type="button" @click="selectButton()">
                            高级搜索
                            <i class="glyphicon glyphicon-chevron-down ist" v-show="!down"></i>
                            <i class="glyphicon glyphicon-chevron-up ist" v-show="down"></i>
                        </div>
                        <div id="selectList">  
                            <ul>  
                                <li><input type="checkbox" v-model="startT" id="startT"><label for="startT">发货起始时间</label></li>
                                <li><input type="checkbox" v-model="endT" id="endT"><label for="endT">发货结束时间</label></li>  
                                <li><input type="checkbox" v-model="startA" id="startA"><label for="startA">发货地址</label></li>
                                <li><input type="checkbox" v-model="endA" id="endA"><label for="endA">送货地址</label></li>
                                <li><input type="checkbox" v-model="clientN" id="clientN"><label for="clientN">销售编号</label></li>
                                <li><input type="checkbox" v-model="orderS" id="orderS"><label for="orderS">订单状态</label></li>  
                            </ul> 
                        </div>  
                    </div>
                </div>
            </form>
        </div>
        <div id="orderReleaseManage_queryTerm" class="form-horizontal panel-body" v-show="(startT || endT || startA || endA || clientN || orderS)">
            <div class="form-group col-lg-10 col-md-9 col-sm-8 col-xs-8">
                <div v-show="startT">
                    <label class="control-label pull-left ls-p-r-15 col-lg-1 col-ls-2 col-md-2 col-sm-3">发货起始时间</label>
                    <div class="col-lg-2 col-ls-4 col-md-9 col-sm-8 form-group date has-feedback">
                        <input id="orderReleaseManage_startTime" name="startTime" datetimepicker plugintype="datetime" v-model="query.startTime" placeholder="发货起始时间" class="form-control" type="text" />
                        <span id="openApplicationStartTime" name="openApplicationStartTime" class="form-control-feedback curpoint">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div v-show="endT">
                    <label class="control-label pull-left ls-p-r-15 col-lg-1 col-ls-2 col-md-2 col-sm-3">发货结束时间</label>
                    <div class="col-lg-2 col-ls-4 col-md-9 col-sm-8 form-group date has-feedback">
                        <input id="orderReleaseManage_endTime" name="endTime" datetimepicker plugintype="datetime" v-model="query.endTime" placeholder="发货结束时间" class="form-control" type="text" />
                        <span id="openApplicationEndTime" name="openApplicationEndTime" class="form-control-feedback curpoint">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div v-show="startA">
                    <label class="control-label pull-left ls-p-r-15 col-lg-1 col-ls-2 col-md-2 col-sm-3">发货地址</label>
                    <div class="col-lg-2 col-ls-4 col-md-9 col-sm-8 form-group">
                        <input type="text" class="form-control" id="orderReleaseManage_startAddress" name="startAddress" v-model="query.startAddress" placeholder="发货地址">
                    </div>
                </div>
                <div v-show="endA">
                    <label class="control-label pull-left ls-p-r-15 col-lg-1 col-ls-2 col-md-2 col-sm-3">送货地址</label>
                    <div class="col-lg-2 col-ls-4 col-md-9 col-sm-8 form-group">
                        <input type="text" class="form-control" id="orderReleaseManage_endAddress" name="endAddress" v-model="query.endAddress" placeholder="送货地址">
                    </div>
                </div>
                <div v-show="clientN">
                    <label class="control-label pull-left ls-p-r-15 col-lg-1 col-ls-2 col-md-2 col-sm-3">销售编号</label>
                    <div class="col-lg-2 col-ls-4 col-md-9 col-sm-8 form-group">
                        <input id="orderReleaseManage_clientOrderId" name="clientOrderId" class="form-control" v-model="query.clientOrderId" type="text" placeholder="请输入销售编号">
                    </div>
                </div>
                <div v-show="orderS">
                    <label class="control-label pull-left ls-p-r-15 col-lg-1 col-ls-2 col-md-2 col-sm-3">订单状态</label>
                    <div class="col-lg-2 col-ls-4 col-md-9 col-sm-8 form-group">
                        <select class="form-control input-sm" id="orderReleaseManage_orderStatus" name="orderStatus" v-model="query.orderStatus">
                            <option v-for="option in orderStatusList" v-bind:value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 form-group" v-show="(startT || endT || startA || endA || clientN || orderS)">
                <button id="orderReleaseManage_query" name="queryOrderRelease" @click="QueryOrderRelease()" class="btn btn-default btn-addon ">
                    <span v-show="!bseeks">查  询</span>
                    <span v-show="bseeks">查询中...</span>
                </button>
                <button id="orderReleaseManage_reset" name="reset" @click="resetQuery()" class="btn btn-default btn-addon">重  置</button>
            </div>
        </div>        
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            订单发布管理列表
        </div>
        <div class="line line-xs pull-in"></div>
        <div class="table-responsive" >
            <table id="orderReleaseManage_table" name="table" class="table table-hover" data-events="actionEvents" data-height="467"></table>
            <pagination-Com :total="Records" v-on:pageIndexChange="onPageIndexChange($event)"></pagination-Com> 
        </div>
    </div>
</div>